.cov-info-lists {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    flex-direction: row;

    .cov-country-info {
        width: 25%;
    }
}

.cov-country-info-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: auto;
    max-width: 120px;
    margin: auto;

    .item {
        @include padding($top: 5px, $bottom: 5px);
        @include margin($top: 5px, $bottom: 5px);
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        @include mobileM {
        }

        .svg-inline--fa {
            @include margin($right: 5px);

            @include mobileM {
            }
        }

        span {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            font-size: rem(14);
            line-height: 1;
            @include margin($left: 5px);

            @include mobileM {
            }
        }
    }
}

.cov-country-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    margin: 0;

    .item {
        margin: 5px;
        font-size: rem(12);
        padding: 5px;
        background: #ccc;
        border-radius: 3px;
        line-height: 1;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &:hover,
        &.is-active {
            color: #fff;
            background: #999;
            cursor: pointer;
            box-shadow: 0 0 5px 0px #777;
        }

        .item-img {
            width: 20px;
            max-height: 15px;
        }
    }
}

.cov-country-info {

    .cov-info-list {
        padding: 0;
    }

    .cov-country-title {
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        max-width: 100px;
        margin: auto;
    }
}

.cov-continent-list {
    display: block;
    width: 100%;
    margin: auto;

    @include tablet {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .cov-continent-item {
        width: 100%;
        display: inline-block;
        margin: auto;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: rem(14);
        line-height: 1;
        text-align: center;
        @include margin($bottom: 20px);

        @include mobileM {
            width: calc(100% / 2);
            text-align: left;
        }

        @include tablet {
            width: calc(720px / 3);
        }

        @include laptop {
            width: calc(960px / 3);
        }

        @include laptopL {
            width: calc(1140px / 6);
        }

        strong {
            @include margin($right: 10px);
            font-size: rem(16);
            font-family: 'Times New Roman', Times, serif;
        }
    }

    .cov-continent-title {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        font-size: rem(18);
        margin-bottom: 0;
        line-height: 1;
    }
}